body {
    font-family: 'Helvetica', Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

.getränk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.getränk span {
    flex: 1;
    text-align: left;
}

.menge-steuerung {
    display: flex;
    align-items: center;
}

.menge-steuerung button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.menge-steuerung button:hover {
    background-color: #45a049;
}

.menge-steuerung input {
    width: 40px;
    height: 30px;
    text-align: center;
    border: none;
    background: transparent;
    font-size: 16px;
    padding: 0;
    margin: 0 5px;
    outline: none;
    -moz-appearance: textfield; /* Entfernt Pfeile in Firefox */
    -webkit-appearance: none; /* Entfernt Pfeile in Chrome */
}

/* Styles für die großen Buttons */
.großer-button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.großer-button:hover {
    background-color: #45a049;
}

/* Styles für die Bestellübersicht */
#bestellliste li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    list-style-type: none;
    text-align: left;
}

#bestellliste button {
    margin-right: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#bestellliste button:first-of-type {
    background-color: #ff9800;
    color: white;
}

#bestellliste button:last-of-type {
    background-color: #4CAF50;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

@media screen and (max-width: 600px) {
    form, .modal-content {
        width: 90%;
        margin: auto;
    }

    h1 {
        font-size: 24px;
    }
}
